[Unit]
Description=Run dispatch.sh
After=network.target

[Service]
Type=simple
ExecStart=/bin/dispatch.sh
Restart=always

[Install]
WantedBy=multi-user.target
